@import "vars"


/*==========  Desktop First  ==========*/

@media (max-width: 1439.98px)
	.container
		max-width: 1200px
	.logo img
		width: 120px
	.header-top-row
		height: 58px
	.main-menu a
		height: 56px
		line-height: 56px
	.header-bottom-row
		height: 57px
	.site-header
		margin-bottom: 18px
	.main-banner-content .h1
		font-size: 70px
	.promo-content .h3
		font-size: 38px
	.search-dropdown
		top: 57px
	.search-input
		height: 48px
		font-size: 18px
	.search-autocomplete
		height: 48px
		line-height: 49px
		font-size: 18px
	.search-dropdown
		padding: 55px 75px 45px 45px
	.search-results
		padding-top: 10px
	.product-sm
		margin-bottom: 12px
	.search-results-items
		margin-bottom: 20px
	.search-collections ul li
		margin-bottom: 6px
	.total-look-slider
		.owl-item
			&.center
				.total-look-item
					transform: scale(1.3)
				.product-stick
					transform: scale(.8)
				.product-liked
					transform: scale(.8)
				.total-look-price
					transform: scale(.7) translateY(0)

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
